*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-img{
    background-image:linear-gradient( rgba(0, 0, 0,0.767), rgba(0, 0,0, 0.767)),url(../../assets/about-img.png);
    width: 100%;
    height: 500px;
    color: gainsboro;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.text{
    font-family: "Inter", sans-serif;
}

.about{
    font-family: "Inter", sans-serif;
    color: #000000; 
}

.testimonial{
    background-color: #D1DAFF;
}

.test{
    font-family: "Inter", sans-serif;
    color: #000000; 
}

.blue{
    font-family: "Inter", sans-serif;
}

.journey{
    background-color: #16A7D6;
    height: auto;
}

.journey p{
    font-family: "Inter", sans-serif;
}