*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    background-color: #E1E1E1;
}

.team-div{
    background-image:linear-gradient( rgba(0, 0, 0,0.767), rgba(0, 0,0, 0.767)),url(../../assets/empower.png);
    width: 100%;
    height: 500px;
    margin-top: 50px;
    color: gainsboro;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
    text-align: center;
}

.input{
    width: 45%;
}

